<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Verification</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap");
      * {
        font-family: "Red Hat Display", sans-serif;
      }
      .top {
        border-radius: 24px;
        background: #0090ff;
        width: 840px;
        height: 180px;
        color: #ffffff;
      }
      .top h1 {
        font-family: "Red Hat Display";
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 76px;
        color: #ffffff;
        text-align: center;
      }
      img {
        width: 450px;
        height: 250px;
        margin: 40px auto;
      }
      td.center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <table style="margin-top: 30px" width="100%">
      <tr>
        <td width="20%"></td>
        <td width="60%">
          <table>
            <tr>
              <td class="top">
                <h1>PENCOM</h1>
              </td>
            </tr>

            <tr>
              <td class="center">
                <img
                  src="https://res.cloudinary.com/dnbbhvcbt/image/upload/v1670049530/pencom/otp_dcnw0q.png"
                  alt="illustration"
                />
              </td>
            </tr>

            <tr>
              <td class="center">
                <table width="100%">
                  <tr>
                    <td
                      class="center"
                      style="
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        color: #252a2f;
                      "
                    >
                      Hello, {{company}}
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="
                        font-size: 20px;
                        line-height: 26px;
                        color: #5e6974;
                        margin: 9px 0;
                      "
                    >
                      Thank you for registering on PENCOM.
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="font-size: 20px; line-height: 26px; color: #5e6974"
                    >
                      Below is your 6-digits authentication code.
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="font-size: 20px; line-height: 26px; color: #5e6974"
                    >
                      Use it to complete your account verification process
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 64px;
                        color: #252a2f;
                        height: 120px;
                      "
                    >
                      {{token}}
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        height: 70px;
                        color: #5e6974;
                      "
                    >
                      Powered by
                      <a
                        href="https://appmart.ng/"
                        target="_blank"
                        style="color: #006dda; margin-left: 5px"
                      >
                        Interswitch
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td
                style="
                  width: 840px;
                  height: 45px;
                  background: #f6f6f6;
                  border-radius: 8px;
                "
              >
                <p
                  style="
                    margin: 5px 0;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #252a2f;
                  "
                >
                  © {{year}}
                  <a
                    href="https://appmart.ng/"
                    target="_blank"
                    style="color: #006dda; margin-left: 5px"
                  >
                    Appmart
                  </a>
                  - All Rights Reserved
                </p>
              </td>
            </tr>
          </table>
        </td>
        <td width="20%"></td>
      </tr>
    </table>
  </body>
</html>
