<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFC Payment Notice</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap");
      * {
        font-family: "Red Hat Display", sans-serif;
      }
      .top {
        border-radius: 24px;
        background: #ff0000;
        width: 840px;
        height: 100px;
        color: #ffffff;
      }
      .top h1 {
        font-family: "Red Hat Display";
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        color: #ffffff;
        text-align: center;
      }
      .img {
        width: 450px;
        height: 250px;
        margin: 40px auto;
      }
      td.center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <table style="margin-top: 30px" width="100%">
      <tr>
        <td width="20%"></td>
        <td width="60%">
          <table>
            <tr>
              <td class="top">
                <h1>PENCOM</h1>
              </td>
            </tr>

            <tr>
              <td class="center">
                <img
                  class="img"
                  src="https://res.cloudinary.com/dnbbhvcbt/image/upload/v1672906333/pencom/payment_ttt8qw.png"
                  alt="illustration"
                />
              </td>
            </tr>

            <tr>
              <td class="center">
                <table width="100%">
                  <tr>
                    <td
                      class="center"
                      style="
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        color: #252a2f;
                      "
                    >
                      Hello, UBA Pensions
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="
                        font-size: 20px;
                        line-height: 26px;
                        color: #5e6974;
                        margin: 9px 0;
                      "
                    >
                      We have just recieved the total sum of
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 42px;
                        color: #252a2f;
                        height: 70px;
                      "
                    >
                      NGN 200,574.48
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="font-size: 20px; line-height: 26px; color: #5e6974"
                    >
                      has been deposited in your account for the period
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 42px;
                        color: #252a2f;
                        height: 70px;
                      "
                    >
                      October, 2022
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="center"
                      style="font-size: 20px; line-height: 26px; color: #5e6974"
                    >
                      by <b>Appmart Integrated.</b>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="center"
                      style="font-size: 20px; line-height: 26px; color: #5e6974"
                    >
                      Click the link below to see the full details.
                    </td>
                  </tr>

                  <tr>
                    <td style="height: 100px">
                      <a
                        href="https://appmart.ng/"
                        target="_blank"
                        style="
                          display: block;
                          -moz-box-sizing: border-box;
                          box-sizing: border-box;
                          width: 300px;
                          height: 76px;
                          background: #053a51;
                          border-radius: 12px;
                          font-weight: 600;
                          font-size: 20px;
                          line-height: 26px;
                          color: #ffffff;
                          margin: auto;
                          text-decoration: none;
                          text-align: center;
                          padding-top: 25px;
                        "
                      >
                        <span> See Details </span>
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td
                      class="center"
                      style="
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        height: 110px;
                        color: #5e6974;
                      "
                    >
                      Powered by
                      <a
                        href="https://www.interswitchgroup.com/"
                        target="_blank"
                        style="
                          color: #006dda;
                          margin-left: 0px;
                          text-decoration: none;
                        "
                      >
                        <img
                          style="
                            height: 28px;
                            width: 98px;
                            margin: 0px 0px -2px 0px;
                            vertical-align: bottom;
                          "
                          src="https://res.cloudinary.com/dnbbhvcbt/image/upload/v1672907271/pencom/interswitch_up1vvc.png"
                          alt="Interswitch logo"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td
                style="
                  width: 840px;
                  height: 45px;
                  background: #f6f6f6;
                  border-radius: 8px;
                "
              >
                <p
                  style="
                    margin: 5px 0;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #252a2f;
                  "
                >
                  © {{year}}
                  <a
                    href="https://appmart.ng/"
                    target="_blank"
                    style="color: #006dda; margin-left: 5px"
                  >
                    Appmart
                  </a>
                  - All Rights Reserved
                </p>
              </td>
            </tr>
          </table>
        </td>
        <td width="20%"></td>
      </tr>
    </table>
  </body>
</html>
